body {
  font-family: "roboto" sans-serif;
  color: #2e2f42;
}
.header {
  background-color: #FFFFFFC;
}
.logo {
  width: Hug(115px) px;
  height: Fixed(24px) px;
  top: 24px;
  left: 156px;
  gap: 0px;
  opacity: 0px;
  word-spacing: -50px;
}
.blue {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  width: 44px;
  height: 21px;
  gap: 0px;
  opacity: 0px;
  color: #4d5ae5;
}
.studio {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2e2f42;
  width: 71px;
  height: 21px;
  gap: 0px;
  opacity: 0px;
}
.studio-html {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}
.portfolio {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}
.contacts {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}
.adress ul li a {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}
.section1 {
  background-color: #2e2f42;
}
.section1 h1 {
  font-family: "Roboto";
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.section1 button {
  background-color: #4d5ae5;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #ffffff;
}
.section2 {
  background-color: #f4f4fd;
}
.section2 h2 {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
}
.mark {
  background-color: #ffffff;
}
.tom {
  background-color: #ffffff;
}
.camila {
  background-color: #ffffff;
}
.daniel {
  background-color: #ffffff;
}
.section3 h2 {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.footer {
  background-color: #2e2f42;
}
.studio-footer {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #f4f4fd;
}
.footer p {
  color: #f4f4fd;
}
